<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stress Detection App</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="webpage">
		<div class="webpage_container">
					<div class="webpage_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="webpage_title"><span>Stress Tracking and Relieving System</span></div>
									<div class="webpage_subtitle"><span>Integrating Health Technology</span></div>
									<div class="webpage_form_container">
										<p style="color: Black;">
											<div class="health_info">
												<h2>Stress and Heart Rate</h2>
												<p>Stress is both a physiological and psychological response to perceived threats or demands, significantly impacting our daily functioning and health. It activates a series of responses in the body, one of which is an increase in heart rate. This response is a vital sign of health and provides insights into our body's stress handling.</p>
																							
												<h2>How to Manage and Avoid Stress</h2>
												<p>Managing and avoiding stress is crucial for maintaining overall health and well-being. Here are some effective strategies:</p>
												<ul>
													<li><strong>Regular Physical Activity:</strong> Engaging in regular exercise such as walking, jogging, or yoga can significantly reduce stress levels by releasing endorphins, the body's natural painkillers.</li>
													<li><strong>Mindfulness and Meditation:</strong> Practices like mindfulness and meditation can help calm the mind and reduce stress. These practices enhance awareness of the present moment and create a state of relaxation.</li>
													<li><strong>Adequate Sleep:</strong> Ensuring you get enough sleep each night is essential. Sleep helps your body recover from daily stresses and improves overall health.</li>
													<li><strong>Healthy Eating:</strong> A balanced diet rich in antioxidants, vitamins, and minerals can boost your immune system and lower stress levels. Avoid excessive caffeine and sugar, which can increase anxiety.</li>
													<li><strong>Time Management:</strong> Effective time management can help reduce stress by avoiding the last-minute rush and clutter of unmet deadlines. Prioritize tasks and break them into manageable pieces.</li>
													<li><strong>Social Support:</strong> Maintaining a supportive network of friends and family can provide emotional support and help manage stress more effectively.</li>
												</ul>
											</div>
											
											<div class="register-login-links">
												<p>
													<a href="/register">Register</a> | <a href="/login">Login</a>
												</p>
											</div>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>
	</div>
	
</body>
</html>